/temp/*
/*.png
/NeuroML2/*.pov
/NeuroML2/*.ini
/NeuroML2/*.png
/cells/SmithEtAl2013/*_netpyne.py
/cells/SmithEtAl2013/*.json
/cells/SmithEtAl2013/*_nrn.py
/cells/SmithEtAl2013/*.dat
/cells/SmithEtAl2013/x86_64
/NeuroML2/*.pov*
/NeuroML2/*.hoc
/NeuroML2/*.mod
/NeuroML2/LEMS_Multiscale__g1_5__i250A.xml
/NeuroML2/LEMS_Multiscale__g1_5__i250B.xml
/NeuroML2/LEMS_Multiscale__g1_5__i250C.xml
/NeuroML2/*_nrn.py
/NeuroML2/*.spikes
/NeuroML2/x86_64
/NeuroML2/*.dat
/cells/BBP/*.mod
/cells/BBP/*.hoc
/cells/BBP/*.dat
/cells/BBP/x86_64
/cells/BBP/LEMS_L23_NBC_cNAC187_1_netpyne.py
/cells/BBP/LEMS_L23_NBC_cNAC187_1_netpyne.py_main.json
/cells/BBP/LEMS_L23_NBC_cNAC187_1_nrn.py
/notebooks/.ipynb_checkpoints
/notebooks/*.hoc
/notebooks/*.mod
/notebooks/LEMS_iv_*.xml
/notebooks/*_nrn.py
/notebooks/*.dat
/notebooks/x86_64
/notebooks/iv_*.net.nml
/cells/HH/*png
/NeuroML2/LEMS_Multiscale__g1_5__i250D.xml
/notebooks/*.png
/notebooks/plot_cell.pyc
/notebooks/LEMS_iv*_netpyne.py
/notebooks/*_main.json
