/temp/*
/*.png
/NeuroML2/*.pov
/NeuroML2/*.ini
/NeuroML2/*.png
/cells/SmithEtAl2013/*_netpyne.py
/cells/SmithEtAl2013/*.json
/cells/SmithEtAl2013/*_nrn.py
/cells/SmithEtAl2013/*.dat
/cells/SmithEtAl2013/x86_64
/NeuroML2/*.pov*
/NeuroML2/*.hoc
/NeuroML2/*.mod

/NeuroML2/*_nrn.py
/NeuroML2/*.spikes
/NeuroML2/x86_64
/NeuroML2/*.dat
/cells/BBP/*.mod
/cells/BBP/*.hoc
/cells/BBP/*.dat
/cells/BBP/x86_64
/cells/BBP/LEMS_L23_NBC_cNAC187_1_netpyne.py
/cells/BBP/LEMS_L23_NBC_cNAC187_1_netpyne.py_main.json
/cells/BBP/LEMS_L23_NBC_cNAC187_1_nrn.py
/notebooks/.ipynb_checkpoints
/notebooks/*.hoc
/notebooks/*.mod
/notebooks/LEMS_iv_*.xml
/notebooks/*_nrn.py
/notebooks/*.dat
/notebooks/x86_64
/notebooks/iv_*.net.nml
/cells/HH/*png
/notebooks/*.png
/notebooks/plot_cell.pyc
/notebooks/LEMS_iv*_netpyne.py
/notebooks/*_main.json
/NeuroML2/LEMS_Multiscale__g1_5__i250B2_netpyne.py
/NeuroML2/LEMS_Multiscale__g1_5__i250B2_netpyne.py_main.json
/NeuroML2/LEMS_Multiscale__g1_5__i250B_netpyne.py
/NeuroML2/LEMS_Multiscale__g1_5__i250B_netpyne.py_main.json
/old
/notebooks/L23PyrRS.cell.json
/notebooks/input_*.json
/NeuroML2/LEMS_*_netpyne.py
/NeuroML2/LEMS_*_main.json
/cells/Thalamocortical/ol

/NeuroML2/*.svg
/NeuroML2/*.cell.json
/NeuroML2/*.input.json
/NeuroML2/*.synapse.json
/*.hoc
/*.mod
/ISN_net.net.nml
/ISN_net/
/x86_64
/jsbml.log
/libjhdf5.so
/*.spikes
/LEMS_ISN_net.xml
/LEMS_ISN_net_netpyne.py
/LEMS_ISN_net_nrn.py
/report.txt
/*.dat
/results/
/ISN_net.net.nml.h5
/ISN_net.net.nml.h5.pov
/cells/HH2/x86_64
/cells/HH2/*.dat
/cells/HH2/simulator.props
/cells/HH2/*ne.py
/cells/HH2/*.hoc
/cells/HH2/*.mod
/cells/HH2/*_nrn.py
/NGBW-JOB-*
/input.zip
/x*.xml
/cells/SmithEtAl2013/analysis/*.net.nml
/cells/SmithEtAl2013/analysis/L23_FF
/cells/SmithEtAl2013/analysis/*.mod
/cells/SmithEtAl2013/analysis/x86_64
/cells/SmithEtAl2013/analysis/*.dat
/cells/SmithEtAl2013/analysis/L23_NoHotSpot.hoc
/cells/SmithEtAl2013/analysis/LEMS_L23_FF.xml
/cells/SmithEtAl2013/analysis/*_nrn.py
/cells/SmithEtAl2013/analysis/singleCompAllChans.hoc
/cells/SmithEtAl2013/analysis/L23_NoHotSpot.cell.json
/cells/SmithEtAl2013/analysis/*netpyne.py
/cells/SmithEtAl2013/analysis/synAmpaEE_stim_105.input.json
/cells/SmithEtAl2013/analysis/LEMS_L23_FF_netpyne.py_main.json
/cells/BBP/LEMS_L23_PC_cADpyr229_1_nrn.py
/cells/SmithEtAl2013/analysis/*.png
/cells/SmithEtAl2013/analysis/*.hoc
/cells/SmithEtAl2013/analysis/L23_Variability
/cells/SmithEtAl2013/analysis/LEMS_L23_Variability.xml
/cells/SmithEtAl2013/analysis/*.input.json
/cells/SmithEtAl2013/analysis/L23_Noisy
/cells/SmithEtAl2013/analysis/LEMS_L23_Noisy.xml
/cells/SmithEtAl2013/*.hoc
/cells/SmithEtAl2013/*.mod
